# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode build & user state
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode workspaces / user-local
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# CocoaPods (no, ma per sicurezza)
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Misc
*.log
*.swp
.env
.env.local
*.local
node_modules/
